<app-dashboard></app-dashboard>
<div class="container my-3">
  <h1 class="mb-3">
    Employees
  </h1>
  <table class="table" *ngIf="employees">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Profile</th>
        <th>Details </th>
        <th>Correspondence Address</th>
        <th>Permanent Address</th>
        <th> Edit/View </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees let i=index">
        <td>{{i + 1}}</td>
        <td></td>
        <td>
          <table>
            <th></th>
            <th></th>
              <tr>First Name: {{employee.firstName}} </tr>
              <tr>Last Name: {{employee.lastName}}</tr>
              <tr>Father Name: {{employee.fname}}</tr>
              <tr>Mother Name: {{employee.mname}}</tr>
              <tr>Mobile No.: {{employee.mnumber}}</tr>
              <tr>Email: {{employee.email}}</tr>
              <tr>Highest Education: {{employee.courseName}}</tr>
          </table>
        </td>
        <td>
          <table>
            <th></th>
            <th></th>
              <tr>Line One: {{employee.lOne}} </tr>
              <tr>Line Two: {{employee.lTwo}}</tr>
              <tr>City Name: {{employee.city}}</tr>
              <tr>Country Name: {{employee.countryName}}</tr>
              <tr>State Name: {{employee.stateName}}</tr>
              <tr>District Name: {{employee.districtName}}</tr>
              <tr>Pincode: {{employee.pincode}}</tr>
          </table>
        </td>
        <td>
          <table>
            <th></th>
            <th></th>
              <tr>Line One: {{employee.perLOne}} </tr>
              <tr>Line Two: {{employee.perLTwo}}</tr>
              <tr>City Name: {{employee.perCity}}</tr>
              <tr>Country Name: {{employee.perCountryName}}</tr>
              <tr>State Name: {{employee.perStateName}}</tr>
              <tr>District Name: {{employee.perDistrictName}}</tr>
              <tr>Pincode: {{employee.perPincode}}</tr>
          </table>
        </td>
        <td><a [routerLink]="['/employee','edit',employee.id]">View</a></td>
      </tr>
    </tbody>
  </table>


  <p *ngIf="!employees">No Employee Found!!</p>
</div>
