<app-dashboard></app-dashboard>
<div class="container my-3">
  <h1 class="mb-3">
    Employees
  </h1>

  <table class="table" *ngIf="employees">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Father name</th>
        <th>Mother name</th>
        <th>Mobile No.</th>
        <th>Email</th>
        <th>Qualification</th>
        <th>Correspondence 1st line</th>
        <th>Correspondence 2nd line</th>
        <th>Correspondence City</th>
        <th>Correspondence Country</th>
        <th>Correspondence state</th>
        <th>Correspondence District</th>
        <th>Correspondence Pincode</th>
        <th>Permanent 1st line</th>
        <th>Permanent 2nd line</th>
        <th>Permanent City</th>
        <th>Permanent Country</th>
        <th>Permanent state</th>
        <th>Permanent District</th>
        <th>Permanent Pincode</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees let i=index">
        <td>{{i + 1}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.fname}}</td>
        <td>{{employee.mname}}</td>
        <td>{{employee.mnumber}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.courseName}}</td>
        <td>{{employee.LOne}}</td>
        <td>{{employee.LTwo}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.countryName}}</td>
        <td>{{employee.stateName}}</td>
        <td>{{employee.districtName}}</td>
        <td>{{employee.pincode}}</td>
        <td>{{employee.perLOne}}</td>
        <td>{{employee.perLTwo}}</td>
        <td>{{employee.perCity}}</td>
        <td>{{employee.perCountryName}}</td>
        <td>{{employee.perStateName}}</td>
        <td>{{employee.perDistrictName}}</td>
        <td>{{employee.perPincode}}</td>
        <td><a [routerLink]="['/employee','edit',employee.id]">View</a></td>
      </tr>

    </tbody>

  </table>

  <p *ngIf="!employees">No Employee Found!!</p>
</div>
