<app-dashboard></app-dashboard>
<div class="container my-3">
  <h1 class="mb-3">
    Employees
  </h1>
  <table class="table" *ngIf="employees">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Profile</th>
        <th>Details </th>
        <th>Correspondence Address</th>
        <th>Permanent Address</th>
        <th> Edit/View </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees let i=index">
        <td>{{i + 1}}</td>
        <td></td>
        <td>
          <table>
            <tr>
              <th>First Name:</th>
              <td>{{employee.firstName}}</td>
            </tr>
            <tr>
              <th>Last Name:</th>
              <td>{{employee.lastName}}</td>
            </tr>
            <tr>
              <th>Father Name:</th>
              <td>{{employee.fname}}</td>
            </tr>
            <tr>
              <th>Mother Name:</th>
              <td>{{employee.mname}}</td>
            </tr>
            <tr>
              <th>Mobile No.:</th>
              <td>{{employee.mnumber}}</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td>{{employee.email}}</td>
            </tr>
            <tr>
              <th>Highest Education:</th>
              <td>{{employee.courseName}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <th>Line One:</th>
              <td>{{employee.lOne}}</td>
            </tr>
            <tr>
              <th>Line Two:</th>
              <td>{{employee.lTwo}}</td>
            </tr>
            <tr>
              <th>City Name:</th>
              <td>{{employee.city}}</td>
            </tr>
            <tr>
              <th>Country Name:</th>
              <td>{{employee.countryName}}</td>
            </tr>
            <tr>
              <th>State Name:</th>
              <td>{{employee.stateName}}</td>
            </tr>
            <tr>
              <th>District Name:</th>
              <td>{{employee.districtName}}</td>
            </tr>
            <tr>
              <th>Pincode:</th>
              <td>{{employee.pincode}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <th>Line One:</th>
              <td>{{employee.perLOne}}</td>
            </tr>
            <tr>
              <th>Line Two:</th>
              <td>{{employee.perLTwo}}</td>
            </tr>
            <tr>
              <th>City Name:</th>
              <td>{{employee.perCity}}</td>
            </tr>
            <tr>
              <th>Country Name:</th>
              <td>{{employee.perCountryName}}</td>
            </tr>
            <tr>
              <th>State Name:</th>
              <td>{{employee.perStateName}}</td>
            </tr>
            <tr>
              <th>District Name:</th>
              <td>{{employee.perDistrictName}}</td>
            </tr>
            <tr>
              <th>Pincode:</th>
              <td>{{employee.perPincode}}</td>
            </tr>
          </table>
        </td>
        <td><a [routerLink]="['/employee','edit',employee.id]"><button class="btn btn-outline-success my-2 my-sm-0"
              mat-stroked-button> View</button></a></td>
      </tr>
    </tbody>
  </table>


  <p *ngIf="!employees">No Employee Found!!</p>
</div>
