
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <p class="navbar-brand">Registration app</p>
  </div>
</nav>
<div class="container-fluid" style="
background-image: url('assets/wall.jpg');
height: 92%;
background-repeat:no-repeat;
  background-size: cover;
  background-position: center;">
  <h1 class="mb-5 text-center text-white " style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Log In</h1>
  <form (ngSubmit)="loginCheck()">
    <table class=" col-10">
      <tr>
        <td></td>
        <td>
          <div class="mb-3 col-3 offset-md-6">
            <label for="email" class="form-label text-white">Email</label>
            <input type="email" class="form-control " placeholder="abc@gmail.com" id="firstName" name="email"
              [(ngModel)]="logins.email">
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="mb-3 col-3 offset-md-6">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="**********"
              [(ngModel)]="logins.password">
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="mb-3  offset-md-6">
            <button type="submit" class="btn btn-primary col-3 offset-md-1" mat-stroked-button>Login</button>
            <br>
            <br>
            <p class=" col-5 text-center text-white">OR</p>

            <button class="btn btn-primary col-3 offset-md-1" routerLink="signup">Sign Up</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>

