<app-dashboard></app-dashboard>
<div class="container my-5">
  <h1 class="mb-2">Add New Employee</h1>

  <div class="row">
    <div class="col-8">
      <form (ngSubmit)="addEmployees()">
        <div class="d-inline ">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" placeholder="Eg. Xyz" id="firstName" name="firstName"
            [(ngModel)]="addEmployee.obj1.firstName">
        </div>
        <div class="d-inline ">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.lastName" required>
        </div>
        <div class="mb-2 ">
          <label for="fname" class="form-label">Father name</label>
          <input type="text" class="form-control" id="fname" name="fname" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.fname" required>
        </div>
        <div class="mb-2 ">
          <label for="mname" class="form-label">Mother name</label>
          <input type="text" class="form-control" id="mname" name="mname" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.mname" required>
        </div>
        <div class="mb-2">
          <label for="mnumber" class="form-label">Mobile No.</label>
          <input type="text" class="form-control" id="mnumber" name="mnumber" placeholder="Eg. 1234567234"
            [(ngModel)]="addEmployee.obj1.mnumber">
        </div>
        <div class="mb-2 ">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Eg. abc@gmail.com"
            [(ngModel)]="addEmployee.obj1.email">
        </div>
        <div class="mb-2">
          <label class="form-label mr-1">Qualification</label>
          <mat-form-field class="mx-3">
            <mat-label for="Qualification">Choose Qualification</mat-label>
            <mat-select id="Qualification" [(ngModel)]="addEmployee.obj1.eid" name="Qualification">
              <mat-option name="Qualification" *ngFor="let educationMaster of educationMaster"
                [value]="educationMaster.eid" (click)="educationMaster.eid">{{educationMaster.courseName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!-- permanentAddress -->


        <label class="my-4">Permanent Address</label>



        <div class="mb-2 ">
          <label for="perLone" class="form-label">Line One </label>
          <input type="text" class="form-control" id="perLone" name="perLone" placeholder="Line 1"
            [(ngModel)]="addEmployee.obj3.perLone">
        </div>
        <div class="mb-2 ">
          <label for="perLtwo" class="form-label">Line Two </label>
          <input type="text" class="form-control" id="perLtwo" name="perLtwo" placeholder="Line 2"
            [(ngModel)]="addEmployee.obj3.perLtwo">
        </div>


        <div class="mb-2">
          <label for="perCity" class="form-label">City</label>
          <input type="text" class="form-control" id="perCity" name="perCity" placeholder="Eg. Delhi"
            [(ngModel)]="addEmployee.obj3.perCity">
        </div>

        <!-- permanent country state district start-->


        <div class="my-3">
          <label class="form-label mr-1">Country</label>
          <mat-form-field class="mx-2">
            <mat-label for="perCountryid">Choose Country</mat-label>
            <mat-select id="perCountry" [(ngModel)]="addEmployee.obj3.perCountryid" name="perCountryid">
              <mat-option *ngFor="let perCountryMaster of permanentCountryMaster" [value]="perCountryMaster.countryid"
                (click)="onSelectStateName(perCountryMaster.countryid)">{{perCountryMaster.countryName}}</mat-option>
            </mat-select>
          </mat-form-field>

          <label class="form-label mr-1">State</label>
          <mat-form-field class="mx-2">
            <mat-label for="perState">Choose State</mat-label>
            <mat-select id="perState" [(ngModel)]="addEmployee.obj3.perStateid" name="perState">
              <mat-option *ngFor="let perStateMaster of permanentStateMaster" [value]="perStateMaster.stateid"
                (click)="onSelectDistrictName(perStateMaster.stateid)">{{perStateMaster.stateName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label class="form-label mr-1">District</label>
          <mat-form-field class="mx-2">
            <mat-label for="perDistrict">Choose District</mat-label>
            <mat-select id="perDistrict" [(ngModel)]="addEmployee.obj3.perDistrictid" name="perDistrict">
              <mat-option *ngFor="let perDistrictMaster of permanentDistrictMaster "
                [value]="perDistrictMaster.districtid" (click)="perDistrictMaster.stateid">
                {{perDistrictMaster.districtName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- per country state district detail end -->


        <div>
          <label for="perPincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="perPincode" name="perPincode" placeholder="Eg. 201301"
            [(ngModel)]="addEmployee.obj3.perPinCode">
        </div>


        <!-- per address end -->
        <!-- Correspondence start -->


        <label class="my-4">Correspondence Address</label>



        <div class="mb-2">
          <label for="LOne" class="form-label">Line One </label>
          <input type="text" class="form-control" id="LOne" name="LOne" placeholder="Line 1"
            [(ngModel)]="addEmployee.obj2.LOne">
        </div>
        <div class="mb-2">
          <label for="LTwo" class="form-label">Line Two </label>
          <input type="text" class="form-control" id="LTwo" name="LTwo" placeholder="Line 2"
            [(ngModel)]="addEmployee.obj2.LTwo">
        </div>



        <div class="mb-2">
          <label for="corCity" class="form-label">City</label>
          <input type="text" class="form-control" id="corCity" name="corCity" placeholder="Eg. Delhi"
            [(ngModel)]="addEmployee.obj2.city">
        </div>




        <!-- Correspondence country state District start -->


        <div class="mb-3">
          <label class="form-label mr-1">Country</label>
          <mat-form-field class="mx-2">
            <mat-label for="corCountry">Choose Country</mat-label>
            <mat-select id="corCountry" [(ngModel)]="addEmployee.obj2.countryid" name="corCountry">
              <mat-option *ngFor="let corCountryMaster of corosCountryMaster" [value]="corCountryMaster.countryid"
                (click)="onSelectCorStateName(corCountryMaster.countryid)">{{corCountryMaster.countryName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label class="form-label mr-1">State</label>
          <mat-form-field class="mx-2">
            <mat-label for="corState">Choose State</mat-label>
            <mat-select id="corState" [(ngModel)]="addEmployee.obj2.stateid" name="corState">
              <mat-option *ngFor="let corStateMaster of corosStateMaster" [value]="corStateMaster.stateid"
                (click)="onSelectCorDistrictName(corStateMaster.stateid)">{{corStateMaster.stateName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label class="form-label mr-1">District</label>
          <mat-form-field class="mx-2">
            <mat-label for="corDistrict">Choose District</mat-label>
            <mat-select id="corDistrict" [(ngModel)]="addEmployee.obj2.districtid" name="corDistrict">
              <mat-option *ngFor="let corDistrictMaster of corosDistrictMaster " [value]="corDistrictMaster.districtid"
                (click)="corDistrictMaster.stateid">{{corDistrictMaster.districtName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Correspondence country state end  -->
        <div class="mb-2">
          <label for="corPincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="corPincode" name="corpincode" placeholder="Eg. 201301"
            [(ngModel)]="addEmployee.obj2.pincode">
        </div>


        <!-- Correspondence address end -->

        <button type="submit" class="btn btn-primary" mat-stroked-button>Submit</button>
      </form>
    </div>
  </div>
</div>
