<app-dashboard></app-dashboard>
<div class="container my-5">
  <h1 class="mb-2">Add New Employee</h1>

  <div class="row">
    <div class="col-8">
      <form  (ngSubmit)="addEmployees()">
        <div class="d-inline ">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" placeholder="Eg. Xyz" id="firstName" name="firstName"
          [(ngModel)]="addEmployee.obj1.firstName"  >
        </div>
        <div class="d-inline ">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.lastName" required>
        </div>
        <div class="mb-2 ">
          <label for="fname" class="form-label">Father name</label>
          <input type="text" class="form-control" id="fname" name="fname" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.fname" required>
        </div>
        <div class="mb-2 ">
          <label for="mname" class="form-label">Mother name</label>
          <input type="text" class="form-control" id="mname" name="mname" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.mname" required>
        </div>
        <div class="mb-2">
          <label for="mnumber" class="form-label">Mobile No.</label>
          <input type="text" class="form-control" id="mnumber" name="mnumber" placeholder="Eg. abc"
            [(ngModel)]="addEmployee.obj1.mnumber">
        </div>
        <div class="mb-2 ">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Eg. abc@gmail.com"
            [(ngModel)]="addEmployee.obj1.email">
        </div>
        <div class="mb-2">
          <label for="Qualification" class="form-label mr-1">Qualification</label>
          <mat-form-field id="Qualification" class="mx-3">
            <mat-label>Choose Qualification</mat-label>
            <mat-select>
              <mat-option name="Qualification" *ngFor="let educationMaster of educationMaster"
                [value]="educationMaster.eid" (click)="educationMaster.eid"
                [(ngModel)]="addEmployee.obj1.eid">{{educationMaster.courseName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!-- permanentAddress -->


        <label class="my-4" for="permanentAddress">Permanent Address</label>



        <div class="mb-2 ">
          <label for="perLone" class="form-label">Line One </label>
          <input type="text" class="form-control" id="perLone" name="perLone" placeholder="Line 1"
            [(ngModel)]="addEmployee.obj3.perLone">
        </div>
        <div class="mb-2 ">
          <label for="perLtwo" class="form-label">Line Two </label>
          <input type="text" class="form-control" id="perLtwo" name="perLtwo" placeholder="Line 2"
            [(ngModel)]="addEmployee.obj3.perLtwo">
        </div>


        <div class="mb-2">
          <label for="perCity" class="form-label">City</label>
          <input type="text" class="form-control" id="perCity" name="perCity" placeholder="Eg. Delhi"
            [(ngModel)]="addEmployee.obj3.perCity">
        </div>

        <!-- permanent country state district start-->


        <div class="my-3">
          <label for="perCountry" class="form-label mr-1">Country</label>
          <mat-form-field id="perCountry" class="mx-2">
            <mat-label for="perCountry">Choose Country</mat-label>
            <mat-select  id="perCountry">
              <mat-option *ngFor="let perCountryMaster of countryMaster"
                [value]="perCountryMaster.countryid" (click)="onSelectStateName(perCountryMaster.countryid)"
                [(ngModel)]="addEmployee.obj3.perCountryid">{{perCountryMaster.countryName}}</mat-option>
            </mat-select>
          </mat-form-field>

          <label for="perState" class="form-label mr-1">State</label>
          <mat-form-field id="perState" class="mx-2">
            <mat-label for="perState">Choose State</mat-label>
            <mat-select  id="perState" >
              <mat-option *ngFor="let perStateMaster of stateMaster"
                [value]="perStateMaster.stateid" (click)="onSelectDistrictName(perStateMaster.stateid)"
                [(ngModel)]="addEmployee.obj3.perStateid">{{perStateMaster.stateName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label for="perDistrictname" class="form-label mr-1">District</label>
          <mat-form-field id="perDistrictname" class="mx-2">
            <mat-label for="perDistrict">Choose District</mat-label>
            <mat-select  id="perDistrict">
              <mat-option  *ngFor="let perDistrictMaster of districtMaster "
                [value]="perDistrictMaster.districtid" (click)="perDistrictMaster.stateid"
                [(ngModel)]="addEmployee.obj3.perDistrictid">{{perDistrictMaster.districtName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- per country state district detail end -->


        <div>
          <label for="perPincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="perPincode" name="perPincode" placeholder="Eg. 201301"
            [(ngModel)]="addEmployee.obj3.perPinCode">
        </div>


        <!-- per address end -->
        <!-- Correspondence start -->


        <label class="my-4" for="correspondenceAddress">Correspondence Address</label>



        <div class="mb-2">
          <label for="LOne" class="form-label">Line One </label>
          <input type="text" class="form-control" id="LOne" name="LOne" placeholder="Line 1"
            [(ngModel)]="addEmployee.obj2.LOne">
        </div>
        <div class="mb-2">
          <label for="LTwo" class="form-label">Line Two </label>
          <input type="text" class="form-control" id="LTwo" name="LTwo" placeholder="Line 2"
            [(ngModel)]="addEmployee.obj2.LTwo">
        </div>



        <div class="mb-2">
          <label for="corCity" class="form-label">City</label>
          <input type="text" class="form-control" id="corCity" name="corCity" placeholder="Eg. Delhi"
            [(ngModel)]="addEmployee.obj2.city">
        </div>




        <!-- Correspondence country state District start -->


        <div class="mb-3">
          <label class="form-label mr-1">Country</label>
          <mat-form-field id="corCountry" class="mx-2">
            <mat-label  for="corCountry">Choose Country</mat-label>
            <mat-select>
              <mat-option  id="corCountry" *ngFor="let corCountryMaster of countryMaster"
                [value]="corCountryMaster.countryid" (click)="onSelectCorStateName(corCountryMaster.countryid)"
                [(ngModel)]="addEmployee.obj2.countryid">{{corCountryMaster.countryName}}</mat-option>
            </mat-select>
          </mat-form-field >
          <label class="form-label mr-1">State</label>
          <mat-form-field id="corState" class="mx-2">
            <mat-label for="corState">Choose State</mat-label>
            <mat-select>
              <mat-option  id="corState" *ngFor="let corStateMaster of stateMaster"
                [value]="corStateMaster.stateid" (click)="onSelectCorDistrictName(corStateMaster.stateid)"
                [(ngModel)]="addEmployee.obj2.stateid">{{corStateMaster.stateName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <label class="form-label mr-1">District</label>
          <mat-form-field id="corDistrict" class="mx-2">
            <mat-label for="corDistrict">Choose District</mat-label>
            <mat-select>
              <mat-option id="corDistrict" *ngFor="let corDistrictMaster of districtMaster "
                [value]="corDistrictMaster.districtid" (click)="corDistrictMaster.stateid"
                [(ngModel)]="addEmployee.obj2.districtid">{{corDistrictMaster.districtName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Correspondence country state end  -->
        <div class="mb-2">
          <label for="corPincode" class="form-label">Pincode</label>
          <input type="text" class="form-control" id="corPincode" name="corpincode" placeholder="Eg. 201301"
            [(ngModel)]="addEmployee.obj2.pincode">
        </div>


        <!-- Correspondence address end -->

        <button type="submit" class="btn btn-primary" mat-stroked-button>Submit</button>
      </form>
    </div>
  </div>
</div>
